<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" host="192.168.1.27" port="25" userName="einvsrv" password="15963" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>